$font-size:37.5;
$headerColor:#fff;
$headerBgColor:#2e3238;
$footerBorColor:gray;

@function px2rem($px){
  @return $px/$font-size*1rem;
}
@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin navHei{
  height:px2rem(120);
}
@mixin messageHei{
  height:px2rem(160);
}
